:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/* Reset Layout Browser */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* Hilangkan scroll samping */
  background-color: #ffffff;
}

/* Memaksa aplikasi selebar layar penuh */
#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
